
            .banner{
                background-image: linear-gradient(rgba(146, 102, 21, 0.8),rgba(148, 117, 117, 0.664)), url('../image/money1.jpg');
                background-size: cover;
                height: 100vh;
                object-fit: cover;
                /*margin-top: 100px;*/
            }
            .navbar{
                /*position: fixed;*/
                background-color: grey;
                width:100%;
            }
            .banner h1{
                color:white;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 50px;
                padding-bottom: 50px 0 50px;
            }  
        